<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>221100277552-2sj17cd8c3m7khcq03mrompqnknsfvn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221100277552-2sj17cd8c3m7khcq03mrompqnknsfvn8</string>
	<key>API_KEY</key>
	<string>AIzaSyDDiDfS2u_zAb8WFe_VFbGbFBmJfqYFYbI</string>
	<key>GCM_SENDER_ID</key>
	<string>221100277552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gs.firebase.reactnative.demo</string>
	<key>PROJECT_ID</key>
	<string>fir-react-native-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-react-native-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221100277552:ios:826675bebbe59bc2</string>
	<key>DATABASE_URL</key>
	<string>https://fir-react-native-demo.firebaseio.com</string>
</dict>
</plist>